<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-color: rgb(97, 97, 97);">

    <div class="card text-white bg-secondary mb-3">
        <div class="card-header" style="text-align: center;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bar-chart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-left:2px; margin-bottom:5px;">
                <rect width="4" height="5" x="1" y="10" rx="1"/>
                <rect width="4" height="9" x="6" y="6" rx="1"/>
                <rect width="4" height="14" x="11" y="1" rx="1"/>
              </svg>
            Result
          </div>
        <div class="card-body">
            <table  class="table table-dark table-bordered" >
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">Physics</th>
                        <th scope="col">Chemistry</th>
                        <th scope="col">Maths</th>
                        <th scope="col">Total</th>
                        <th scope="col">Average</th>
                        <th scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="text-align: center;">
                        <td th:text="${Physics}"></td>
                        <td th:text="${Chemistry}"></td>
                        <td th:text="${Maths}"></td>
                        <td th:text="${total}"></td>
                        <td th:text="${avg}"></td>
                        <td th:text="${grade}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>


    <div class="card text-white bg-secondary mb-3 w-75" style="margin: 1% auto;">
        <div class="card-header" style="text-align: center;">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-lines-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="margin-left:2px; margin-bottom:3px;">
                <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7 1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm2 9a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
              </svg>  Student Grade
          </div>
        <div class="card-body">
            <form  th:action="@{/Grade}" method="POST" >
                <fieldset>
                    <div class="form-group">
                        <div class="col-auto">
                            <label for="exampleInputEmail1">Physics</label>
                            <input type="text" class="form-control" id="Physics" required placeholder="Enter Physics Marks"
                            onkeypress="return onlyNumberKey(event)" name="Physics" th:value="${Physics}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <label for="exampleInputEmail1">Chemistry</label>
                            <input type="text" class="form-control"  id="Chemistry" required placeholder="Enter Chemistery Marks"
                            onkeypress="return onlyNumberKey(event)"  name="Chemistry" th:value="${Chemistry}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-auto">
                            <label for="exampleInputEmail1">Maths</label>
                            <input type="text" class="form-control" id="Maths" required placeholder="Enter Maths Marks"
                            onkeypress="return onlyNumberKey(event)"   name="Maths" th:value="${Maths}"/>
                        </div>
                    </div>

                    <div class="card-footer" align="center" >
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </div>
                      </div>

                </fieldset>
            </form>

        </div>

      </div>



 
    <script>
        function onlyNumberKey(evt) { 
          
          // Only ASCII charactar in that range allowed 
          var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
          if (ASCIICode > 31 && (ASCIICode < 46 || ASCIICode > 57 || ASCIICode==47)) 
              return false; 
          return true; 
      } 
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>